---
import Layout from './Layout.astro';
import Navbar from '../../components/Navbar.vue';
import Footer from '../../components/Footer.vue';
---

<Layout title="Contact Me">
  <Navbar client:load class="bg-green-800 px-5 text-gray-100" />
  <slot />
  <Footer />
</Layout>