---
import { ViewTransitions } from 'astro:transitions';
export interface Props {
  title?: string;
}

const { title = "Home" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jim Burbridge &ndash; {title || "Home"}</title>
    <ViewTransitions />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  body,
  html {
    min-height: 100vh;
  }
  body {
    display: flex;
    flex-direction: column;
  }
</style>
